:root {
	--app-bg-dark: #222222;
	--app-bg-light: #222222;


	--app-black-100: hsl(0, 0%, 10%);
	--app-black-200: hsl(0, 0%, 15%);

	--app-grey-100: hsl(0, 0%, 20%);
	--app-grey-200: hsl(0, 0%, 25%);
	--app-grey-300: hsl(0, 0%, 30%);
	--app-grey-400: hsl(0, 0%, 35%);
	--app-grey-500: hsl(0, 0%, 40%);
	--app-grey-600: hsl(0, 0%, 45%);
	--app-grey-700: hsl(0, 0%, 50%);
	--app-grey-800: hsl(0, 0%, 55%);
	--app-grey-900: hsl(0, 0%, 60%);

	--app-light-grey-100: hsl(0, 0%, 65%);
	--app-light-grey-200: hsl(0, 0%, 70%);
	--app-light-grey-300: hsl(0, 0%, 75%);
	--app-light-grey-400: hsl(0, 0%, 80%);
	
	--app-white-100: hsl(0, 0%, 90%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, sans-serif;
	background: var(--app-black-200);
	color: var(--app-light-grey-400);
}
